@model IEnumerable<LaTiendita.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Catálogo</h1>

<br>
<br>
<div class="d-flex justify-content-between flex-wrap align-content-between">

@foreach (var item in Model) {
    <div class="card" style="width: 18rem;">
        <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/4f2c5be87f6c4662ab73ad790115b0e2_9366/pantalon-adidas-sportswear-cargo-sarga.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <input hidden id="productoId" value="@Html.DisplayFor(modelItem => item.Id)">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Detalle)  
             <br>
             Precio: $ @Html.DisplayFor(modelItem => item.Precio)</p>
            
             Talle:
            <select id="select_@item.Id" class="form-select" asp-items="@ViewBag.Talles"></select>
            <br/>
            <a href="#" class="btn btn-primary" onclick="AgregarProductoAlCarrito(@item.Id)">Agregar Al Carrito</a>
        </div>
    </div>
    
}

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function AgregarProductoAlCarrito(item) {
            var talleId = document.getElementById("select_"+item).value;
            var productoId = item;
            var cantidad = 1;
            
            var request = { 
                productoId: productoId, 
                talleId: talleId, 
                cantidad: cantidad 
            }

            $.post("/Carrito/AddProduct", request,function (data) {})
                .done(function () {
                    location.reload();
                })
                .fail(function () {
                    alert("error");
                })
                .always(function () {
                    
                });
            
        }
    </script>
}